{
        "mister_ip": "MiSTer",
        "mister_username": "root",
        "mister_password": "1",
        "debug":false,
        "refresh_rate": "1",
        "core_storage": "fat",
        "applicationid":"000000000000000000",
        "state_text": "{game}",
        "details_text": "{displayname}",
        "small_text": "",
        "small_image": "",
        "large_text": "",
        "large_image": "",
        "buttons": ""
}